.container{
    .breadcrumb{
        p{
            color: #494949;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 10px;
            a{
             color: #494949;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            margin-right: 5px;
            }
            b{
                color: #3D3D3D;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-left: 5px;
            }
        }
    }
    .top,.name{
        gap: 50px;
        .box{
            width: 70px;
            height: 70px;
            background-color: rgba(249, 249, 249, 1);
            text-align: center;
            padding-top: 20px;
            font-size: 20px;
            border-radius: 0;
        }
        b{
            width: auto;
            margin-top: -15px;
            color: #3D3D3D;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-right: -10px;
        }
    }
    .warning{
        text-align: center;
        margin-top: 30px;
        border: 1px solid #D8D8D8;
        padding: 15px;
        padding-top: 20px;
        b{
            color: #3D3D3D;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;            
        }
        p{
            color: #838383;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal; 
            margin-top: 5px;          
        }
    }
    .thank{
        text-align: center;
        margin-top: 20px;
        h1{
            color: #BB9B75;
            text-align: center;
            font-size: 70px;
            font-style: normal;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 75px;            
        }
        h2{
            color: #000;
            text-align: center;
            font-size: 70px;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            line-height: 75px;            
        }
    }
    .boxes{
        border: 1px solid #d8d8d8;
        height: 76px;
        padding: 0 20px 0 20px;
        background-color: #F8F8F8;
        margin-top: 57px;
       .item{
        width: 460px;
        border-right: 1px solid #d8d8d8;
        padding-top: 20px;
        p{
            color: #494949;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;            
        }
        b{
            color: #000;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;            
        }
       }
    }
    .summa{
         border: 1px solid #d8d8d8;
         margin-top: 40px;
        .itog{
            background-color: #fff;
            padding: 20px;
            h1{
                color: #272727;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 25px;
                font-style: normal;
                font-weight: 800;
                line-height: 25px;
                text-transform: uppercase;                
            }
            .first,.new{
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid #F4F4F4;
                b{
                    color: #272727;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 16px;
                    text-transform: uppercase;
                }
                p{
                    color: #474747;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 10px;                                
                }
                span{
                    color: #BB9B75;
                    margin-top: 10px;
                    text-align: right;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;                                
                }
            }
            .new{
                p{
                    color: #8C8888;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;                                    
                }
            }
            .second{
                p{
                    color: #474747;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    margin-top: 20px;
                    line-height: normal;                                
                }
                span{
                    margin-top: 20px;
                    color: #BB9B75;
                    text-align: right;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;                                
                }
            }
        }
        p{
            color: #363537;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-top: 10px;
            line-height: 20px;                            
        }
        .btn{
            width: 100%;
            height: 52px;
            border-radius: 0;
            margin-top: 20px;
            background-color: #BB9B75;
            filter: drop-shadow(0px 10px 22px rgba(168, 134, 94, 0.30));
            color: white;
            padding-top: 0;
        }
    }
}

@media only screen and (max-width:600px) {
    .container{
        .warning{
            text-align: left;
            margin-top: 30px;
            border: 1px solid #D8D8D8;
            padding: 15px;
            padding-top: 20px;
            b{
                color: #3D3D3D;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;          
            }
            p{
                color: #838383;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
                margin-top: 5px;          
            }
        }
        .thank{
            text-align: center;
            margin-top: 20px;
            h1{
                color: #BB9B75;
                text-align: center;
                font-size: 40px;
                font-style: normal;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 45px;            
            }
            h2{
                color: #000;
                text-align: center;
                font-size: 40px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 700;
                line-height: 45px;            
            }
        }
        .boxes{
            border: 1px solid #d8d8d8;
            height: auto;
            padding: 0 20px 0 20px;
            background-color: #F8F8F8;
            flex-direction: column;
            margin-bottom: 50px;
            margin-top: 57px;
           .item{
            width: 460px;
            border-bottom: 1px solid #d8d8d8;
            border-right: 0;
            padding-top: 20px;
            p{
                color: #494949;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;            
            }
            b{
                color: #000;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;            
            }
           }
        }
        .summa{
             border: 1px solid #d8d8d8;
             margin-top: 40px;
            .itog{
                background-color: #fff;
                padding: 20px;
                h1{
                    color: #272727;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 25px;
                    text-transform: uppercase;                
                }
                .first,.new{
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px solid #F4F4F4;
                    b{
                        color: #272727;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                    p{
                        color: #474747;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-top: 10px;                                
                    }
                    span{
                        color: #BB9B75;
                        margin-top: 10px;
                        text-align: right;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;                                
                    }
                }
                .new{
                    p{
                        color: #8C8888;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;                                    
                    }
                }
                .second{
                    p{
                        color: #474747;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 800;
                        margin-top: 20px;
                        line-height: normal;                                
                    }
                    span{
                        margin-top: 20px;
                        color: #BB9B75;
                        text-align: right;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;                                
                    }
                }
            }
            p{
                color: #363537;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin-top: 10px;
                line-height: 20px;                            
            }
            .btn{
                width: 100%;
                height: 52px;
                border-radius: 0;
                margin-top: 20px;
                background-color: #BB9B75;
                filter: drop-shadow(0px 10px 22px rgba(168, 134, 94, 0.30));
                color: white;
                padding-top: 0;
            }
        }
    }
}