.contact{
.container{
    .breadcrumb{
        p{
            color: #494949;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 10px;
            a{
             color: #494949;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            margin-right: 5px;
            }
            b{
                color: #3D3D3D;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-left: 5px;
            }
        }
    }
    .all{
        h1{
            color: #1C1C1C;
            font-size: 70px;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            line-height: 70px;
        }
        .box{
            border: 1px solid rgba(216, 216, 216, 1);
            width: 716px;
            height: 119px;
            margin-top: 30px;
            margin-bottom: 60px;
            .box-item{
                border-right: 1px solid rgba(216, 216, 216, 1);
                width: 358px;
                padding-top: 30px;
                img{
                    padding: 10px;
                    height: 50px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                .name{
                    b{
                        color: #2F2F2F;
                        font-size: 18px;
                        width: 100%;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;                       
                    }
                    p{
                        color: #777;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
        .bottom{
            background-color: rgba(248, 248, 248, 1);
            padding: 40px;
            .group{
                .input{
                    width: 32.3%;
                    margin-right: 20px;
                    b{
                        color: #474747;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 16px;
                    }
                    input{
                        border-radius: 0;
                        padding: 10px;
                        margin-top: 10px;
                    }
                }
            }
            .w-100{
                margin-top: 20px;
                b{
                    color: #474747;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px;
                }
                textarea{
                    margin-top: 20px;
                    width: 100%;
                    height: 167px;
                }
            }
            .btn{
                margin-top: 20px;
                margin-left: 500px;
                background-color: rgba(187, 155, 117, 1);
                color: white;
                border-radius: 0;
                box-shadow: 0px 10px 22px 0px rgba(168, 134, 94, 0.3);
                width: 200px ;
                padding: 15px;
            }
        }
    }
}
}

@media only screen and (max-width:600px){
    .contact{
        .container{
            .all{
                h1{
                    color: #1C1C1C;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 70px;
                }
                .box{
                    border: 1px solid rgba(216, 216, 216, 1);
                    width: 100%;
                    height: 119px;
                    margin-top: 30px;
                    margin-bottom: 60px;
                    .box-item{
                        border-right: 1px solid rgba(216, 216, 216, 1);
                        width: 100%;
                        padding-top: 30px;
                        img{
                            padding: 0px;
                            height: 20px;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                        .name{
                            b{
                                color: #2F2F2F;
                                font-size: 16px;
                                width: 100%;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;                       
                            }
                            p{
                                color: #777;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }
                    }
                }
                .bottom{
                    margin-bottom: 40px;
                    background-color: rgba(248, 248, 248, 1);
                    padding: 40px;
                    .group{
                        flex-direction: column;
                        gap: 20px;
                        .input{
                            width: 100%;
                            margin-right: 20px;
                            b{
                                color: #474747;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                            }
                            input{
                                border-radius: 0;
                                padding: 10px;
                                margin-top: 10px;
                            }
                        }
                    }
                    .w-100{
                        margin-top: 20px;
                        b{
                            color: #474747;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 16px;
                        }
                        textarea{
                            margin-top: 20px;
                            width: 100%;
                            height: 167px;
                        }
                    }
                    .btn{
                        margin-top: 20px;
                        margin-left: 100px;
                        background-color: rgba(187, 155, 117, 1);
                        color: white;
                        border-radius: 0;
                        box-shadow: 0px 10px 22px 0px rgba(168, 134, 94, 0.3);
                        width: 200px ;
                        padding: 15px;
                    }
                }
            }
        }
        }
}