.return{
    .container{
       .breadcrumb{
                p{
                    color: #494949;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-top: 10px;
                    a{
                     color: #494949;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;
                    margin-right: 5px;
                }
                b{
                        color: #3D3D3D;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin-left: 5px;
                }
            }
        }
        .all{
            h1{
                color: #1C1C1C;
                font-size: 70px;
                font-style: normal;
                font-weight: 700;
                line-height: 70px;
            }
            .bottom{
                background-color: rgba(248, 248, 248, 1);
                padding: 30px;
                .row{   
                    .left{
                        .title{
                            padding: 20px;
                            border-left: 1px solid #e6e6e6;
                            border-bottom: 1px solid #e6e6e6;
                            h2{color: #474747;
                                font-size: 25px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 30px;}
                                p{
                                    margin: 0;
                                    color: #474747;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;                            
                                }
                        }
                        p{
                            color: #474747;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            margin-top: 10px;
                            line-height: 24px;
                        }
                    }
                    .right{
                        position: relative;
                        img{
                            position: absolute;
                            left: 0;
                            top: -138px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .return{
        .container{
           .breadcrumb{
                    p{
                        color: #494949;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding-top: 10px;
                        a{
                         color: #494949;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                        margin-right: 5px;
                    }
                    b{
                            color: #3D3D3D;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            margin-left: 5px;
                    }
                }
            }
            .all{
                h1{
                    color: #1C1C1C;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 70px;
                }
                .bottom{
                    background-color: rgba(248, 248, 248, 1);
                    padding: 30px;
                    margin-bottom: 30px;
                    .row{   
                        .left{
                            width: 100%;
                            .title{
                                padding: 22px;
                                padding-left: 0;
                                border-left:0;
                                width: 100%;
                                border-bottom: 1px solid #e6e6e6;
                                h2{color: #474747;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 30px;}
                                    p{
                                        margin: 0;
                                        color: #474747;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;                            
                                    }
                            }
                            p{
                                color: #474747;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                margin-top: 10px;
                                line-height: 24px;
                            }
                        }
                        .right{
                            display: none !important;
                            position: relative;
                            img{
                                position: absolute;
                                left: 0;
                                top: -138px;
                            }
                        }
                    }
                }
            }
        }
    }
}