.korzina{
   .container{
    .breadcrumb{
        p{
            color: #494949;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 10px;
            a{
             color: #494949;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            margin-right: 5px;
            }
            b{
                color: #3D3D3D;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-left: 5px;
            }
        }
    }
    .all{
        .top,.name{
            gap: 50px;
            .box{
                width: 70px;
                height: 70px;
                background-color: rgba(249, 249, 249, 1);
                text-align: center;
                padding-top: 20px;
                font-size: 20px;
                border-radius: 0;
            }
            b{
                width: auto;
                margin-top: -15px;
                color: #3D3D3D;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-right: -10px;
            }
        }
        h1{
            color: #1C1C1C;
            text-align: center;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            margin-top: 20px;
            line-height: 95px;
            margin-bottom: 50px;
        }
        .row{
            .left{
                .info{
                    gap: 20px   ;
                    padding: 20px;
                    border: 1px solid#D8D8D8;
                    .x{
                        margin-right: 10px;
                        margin-top: 0;
                    }
                    .first,.second,.third,.fourth{
                        text-align: center;
                        b{color: #272727;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 25px;
                            text-transform: uppercase;}
                        img{
                            margin-top: 39px;
                        }
                        p{
                            margin-top: 50px;
                            color: #1D1D1D;                           
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px;
                        }
                        .add{
                            padding: 5px;
                            height: 50px;
                            gap: 5px;
                            margin-top: 40px;
                            border: 1px solid rgba(238, 238, 238, 1);
                            .plus{
                                width: 40px;
                                height: 40px;
                                border-radius: 2px;
                                background: #E9E9E9;
                             }
                             .min{
                                width: 40px;
                                height: 40px;
                                border-radius: 2px;
                                background: #323232;
                                color: white;
                             }
                         }
                    }
                    .p{
                        margin-top: 60px;
                        color: #1D1D1D;                        
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        width: 246px;
                    }
                }
                .group{
                    margin-top: 20px;
                    input{
                      width: 447px;
                      height: 51px;
                      border-radius: 0;
                    }
                    .btn{
                        border-radius: 0;
                        color: white;
                        background-color: rgba(187, 155, 117, 1);
                    }
                }
            }
            .right{
                h2{
                    color: #1C1C1C;
                    font-size: 45px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 45px;
                    padding-left: 20px;                   
                }
                .summa{
                    background-color: #F8F8F8;
                    padding: 20px;
                    .itog{
                        background-color: #fff;
                        padding: 20px;
                        .first{
                            padding-bottom: 10px;
                            padding-top: 10px;
                            border-bottom: 1px solid #F4F4F4;
                            b{
                                color: #272727;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 16px;
                                text-transform: uppercase;
                            }
                            p{
                                color: #474747;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                margin-top: 10px;                                
                            }
                            span{
                                color: #BB9B75;
                                margin-top: 10px;
                                text-align: right;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;                                
                            }
                        }
                        .second{
                            p{
                                color: #474747;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 800;
                                margin-top: 20px;
                                line-height: normal;                                
                            }
                            span{
                                margin-top: 20px;
                                color: #BB9B75;
                                text-align: right;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;                                
                            }
                        }
                    }
                    .btn{
                        width: 100%;
                        height: 52px;
                        border-radius: 0;
                        margin-top: 20px;
                        background-color: #BB9B75;
                        filter: drop-shadow(0px 10px 22px rgba(168, 134, 94, 0.30));
                        color: white;
                    }
                }
            }
        }
    }
   }
}

@media only screen and (max-width:600px) {
    .korzina{
        .container{
         .breadcrumb{
             p{
                 color: #494949;
                 font-size: 12px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: normal;
                 padding-top: 10px;
                 a{
                  color: #494949;
                 font-size: 14px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: normal;
                 text-decoration: none;
                 margin-right: 5px;
                 }
                 b{
                     color: #3D3D3D;
                     font-size: 14px;
                     font-style: normal;
                     font-weight: 600;
                     line-height: normal;
                     margin-left: 5px;
                 }
             }
         }
         .all{
             .top,.name{
                 gap: 50px;
                 .box{
                     width: 70px;
                     height: 70px;
                     background-color: rgba(249, 249, 249, 1);
                     text-align: center;
                     padding-top: 20px;
                     font-size: 20px;
                     border-radius: 0;
                 }
                 b{
                     width: auto;
                     margin-top: -15px;
                     color: #3D3D3D;
                     font-size: 12px;
                     font-style: normal;
                     font-weight: 600;
                     line-height: normal;
                     margin-right: -10px;
                 }
             }
             h1{
                 color: #1C1C1C;
                 text-align: center;
                 font-size: 70px;
                 font-style: normal;
                 font-weight: 700;
                 margin-top: 20px;
                 line-height: 95px;
                 margin-bottom: 50px;
             }
             .row{
                flex-direction: column;
                 .left{
                    width: 100%;
                     .info{
                         gap: 50px   ;
                         padding: 20px;
                         border: 1px solid#D8D8D8;
                         flex-direction:column ;
                         .x{
                             margin-right: 10px;
                             margin-top: 0;
                             display: none !important;
                         }
                         .first,.second,.third,.fourth{
                             text-align: center;
                             flex-direction: column !important;
                             b{color: #272727;
                                 font-size: 18px;
                                 font-style: normal;
                                 font-weight: 800;
                                 line-height: 25px;
                                 text-transform: uppercase;}
                             img{
                                 margin-top: 39px;
                             }
                             p{
                                 margin-top: 50px;
                                 color: #1D1D1D;                           
                                 font-size: 18px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 26px;
                             }
                             .add{
                                 padding: 5px;
                                 height: 50px;
                                 gap: 5px;
                                 margin-top: 40px;
                                 border: 1px solid rgba(238, 238, 238, 1);
                                 .plus{
                                     width: 40px;
                                     height: 40px;
                                     border-radius: 2px;
                                     background: #E9E9E9;
                                  }
                                  .min{
                                     width: 40px;
                                     height: 40px;
                                     border-radius: 2px;
                                     background: #323232;
                                     color: white;
                                  }
                              }
                         }
                         .p{
                             margin-top: 60px;
                             color: #1D1D1D;                        
                             font-size: 18px;
                             font-style: normal;
                             font-weight: 400;
                             line-height: 26px;
                             width: 246px;
                         }
                     }
                     .group{
                         margin-top: 20px;
                         flex-direction: column;
                         input{
                           width: 100%;
                           height: 51px;
                           border-radius: 0;
                         }
                         .btn{
                             border-radius: 0;
                             margin-top: 20px;
                             color: white;
                             padding: 10px;
                             background-color: rgba(187, 155, 117, 1);
                         }
                     }
                 }
                 .right{
                    width: 100%;
                     h2{
                         color: #1C1C1C;
                         font-size: 45px;
                         font-style: normal;
                         font-weight: 700;
                         line-height: 45px;
                         padding-left: 20px;                   
                     }
                     .summa{
                         background-color: #F8F8F8;
                         padding: 20px;
                         .itog{
                             background-color: #fff;
                             padding: 20px;
                             .first{
                                 padding-bottom: 10px;
                                 padding-top: 10px;
                                 border-bottom: 1px solid #F4F4F4;
                                 b{
                                     color: #272727;
                                     font-size: 16px;
                                     font-style: normal;
                                     font-weight: 800;
                                     line-height: 16px;
                                     text-transform: uppercase;
                                 }
                                 p{
                                     color: #474747;
                                     font-size: 14px;
                                     font-style: normal;
                                     font-weight: 700;
                                     line-height: normal;
                                     margin-top: 10px;                                
                                 }
                                 span{
                                     color: #BB9B75;
                                     margin-top: 10px;
                                     text-align: right;
                                     font-size: 14px;
                                     font-style: normal;
                                     font-weight: 400;
                                     line-height: normal;                                
                                 }
                             }
                             .second{
                                 p{
                                     color: #474747;
                                     font-size: 18px;
                                     font-style: normal;
                                     font-weight: 800;
                                     margin-top: 20px;
                                     line-height: normal;                                
                                 }
                                 span{
                                     margin-top: 20px;
                                     color: #BB9B75;
                                     text-align: right;
                                     font-size: 18px;
                                     font-style: normal;
                                     font-weight: 400;
                                     line-height: normal;                                
                                 }
                             }
                         }
                         .btn{
                             width: 100%;
                             height: 52px;
                             border-radius: 0;
                             margin-top: 20px;
                             background-color: #BB9B75;
                             filter: drop-shadow(0px 10px 22px rgba(168, 134, 94, 0.30));
                             color: white;
                         }
                     }
                 }
             }
         }
        }
     }
}